*{
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
}
html {
    scroll-behavior: smooth;
  }
  
header{
    height: 300px;
    width: 100%;
    background-color: #3B3737;
    background-image: url('./starker-removebg-preview (1).png');
    background-repeat: no-repeat;
    background-position: center  50px;
}

header .flags{
    width: 100%;
    height: 50px;
    display: block;
    float: left;
    clear: both;
}
header .flags ul{
    width: 200px;
    height: 50px;
    float: right;
}
header .flags ul li{
    float: left;
    list-style-type: none;
    margin-left: 10px;
    padding-top: 10px;
}
header .flags ul li a{
    text-decoration: none;
}

header .flags ul li a img{
    height: 20px;
    width: 35px;
}
header .menu{
    margin: 0px auto;
    height: 40px;
    width: 550px;
    padding-top: 255px;
}

header .menu ul li {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    float: left;
    list-style-type: none;
    margin-left: 12px;
    color: white;
}
header .menu ul li a{
    text-decoration: none;
    color: white;
}
header .menu ul li a:hover{
    text-decoration: underline;
}
.body{
    width: 100%;
    height: 1700px;
    background-color: rgb(217, 214, 214);
}
.body .part1{
    margin-left: 10%;
    height: 700px;
    width: 80%;
    float: left;
    display: block;
    margin-top: 25px;
}
.body .part1 .video1{
    width: 45%;
    float: left;
    display: block;
}

.body .part1 .video1 img{
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.3);
}
.body .part1 .Detalhe{
    width: 50%;
    float: left;
    display: block;
}
.body .part1 .Detalhe h1{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 30px;
    text-align:center;
    margin-top: 40px
}
.body .part1 .Detalhe p{
    line-height: 25px;
}
.body .part2{
    margin-left: 10%;
    height: 800px;
    width: 80%;
    float: left;
    display: block;
    margin-top: 50px;
}
.body .part2 .video2{
    margin-top: 50px;
    width: 40%;
    float: right;
    display: block;
}
.body .part2 .video2 img{
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.3);
}
.body .part2 .Lancamento{
    width: 50%;
    float: left;
    display: block;
    margin-left: 5%;
}
.body .part2 .Lancamento ul{
    margin-top: 75px;
}
.body .part2 .Lancamento ul li{
    list-style-type: none;
    text-align: right;
    margin-bottom: 30px;
}
.lançamentoP{
    line-height: 20px;
    font-size: 18px
}

/* Style the buttons that are used to open and close the accordion panel */
  .accordion {
    background-color:#3B3737;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 350px;
    height: 50px;
    text-align: center;
    border-radius: 25px 0px 25px 0px;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
  .explicativo{
    
  }
  footer{
    height: 150px;
    width: 100%;
    background-color: #3B3737;
}
